{% extends "package/read_base.html" %}
{% import 'macros/form.html' as form %}

{% block primary_content_inner %}
  {% if c.pkg_data_dictionary %}
    <table style="width:100%" class="table table-striped table-hover">
      <thead class="thead-dark">
        <tr>
          <td><b>Field Name</b></td>
          <td> <b>Format</b></td>
          <td><b>Description</b></td>
        </tr>
      </thead>

    {% if c.pkg_data_dictionary %}
      {% for dictVal in c.pkg_data_dictionary %}
        {% if dictVal['package_id'] != ''%}
	        <tr>
	          <td> {{dictVal['field_name']}} </td>
            <td> {{dictVal['format']}}  </td>
	          <td> {{ dictVal['description'] if dictVal['description'] != None else '' }}  </td>
	        </tr>
	      {% endif %}
      {% endfor %}
    {% endif %}

	  </table>
  {% else %}
    <p class="empty">{{ _('There is no data dictionary available for this dataset') }}</p>
  {% endif %}
{% endblock %}
